<br>
      <section>
        <label id="nutrition_label" name="nutrition_label">Nutrition</label>
        <label name="calories_label">Calories: <%=calories%></label>
        <label name="fat_label">Fat: <%=fat%></label>
        <label name="sugar_label">Sugar: <%=sugar%></label>
        <label name="carbohydrates_label">Carbohydrates: <%=carbohydrates%></label>
        <label name="protein_label">Protein: <%=protein%></label>
      </section>
      <br>
      <section>
        <label id="additional_label" name="additional_label">Additional Information</label>
        <label name="family_label">Family: <%=family%></label>
        <label name="order_label">Order: <%=order%></label>
        <label name="genus_label">Genus: <%=genus%></label>
      </section>


=begin
----moving footer 
footer{
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;   
  background-color: var(--light-color);
  border-top: 3px solid var(--dark-color);
}


----footer at bottom 
.page_body{
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer{
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 30px;   
  background-color: var(--light-color);
  border-top: 3px solid var(--dark-color);
  margin-top: auto;
}
=end
