<!DOCTYPE html>
<html>
  <header>
    <link rel="stylesheet" href="/public/styles.css">
  </header>

  <body class="fruit_body">
    <div class="fruit_name_div">
      <label id="name_label" name="name_label"><%=@param%></label>
    </div>

    <div class="fruit_div">
      <br>
      <section>
        <label id="nutrition_label" name="nutrition_label">Nutrition</label>
        <label name="calories_label">Calories: <%=@calories%></label>
        <label name="fat_label">Fat: <%=@fat%></label>
        <label name="sugar_label">Sugar: <%=@sugar%></label>
        <label name="carbohydrates_label">Carbohydrates: <%=@carbohydrates%></label>
        <label name="protein_label">Protein: <%=@protein%></label>
      </section>
      <br>
      <section>
        <label id="additional_label" name="additional_label">Additional Information</label>
        <label name="family_label">Family: <%=@family%></label>
        <label name="order_label">Order: <%=@order%></label>
        <label name="genus_label">Genus: <%=@genus%></label>
      </section>
    </div>
  </body>  
</html>  
